<% provide(:title, 'All Items') %>

<main class="page-body">
  <%= render 'shared/heading' %>

  <% if user_signed_in? && current_user.admin? %>
    <%= render 'manage', items: @items %>
    
  <% else %>
    <%= render 'shared/assest_cards', asset_type: 'Item' , assets: @items %>
  <% end %>
</main>
